.thinContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin: 0 var(--space-4);
  width: 100%;
  max-width: 360px;

  .form {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }
}
