.container {
  margin-top: var(--navigation-height);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-4);

  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
