.askTextArea {
  border-top-left-radius: var(--base-card-border-radius);
  border-top-right-radius: var(--base-card-border-radius);
}

.askButton {
  border-bottom-left-radius: var(--base-card-border-radius);
  border-bottom-right-radius: var(--base-card-border-radius);
}
